{{ range .Data.experience_continued }}
<div class="item group">
	<h2 class="item-title">{{ .company }}</h2>
	{{ range .roles }}
	<div class="item">
		<div class="flex-row">
			<span class="job-title">{{ .role }}</span>
			<span class="date">{{ .date }}</span>
		</div>
		{{ if .details }}
		{{- partial "markdown" .details }}
		{{ end }}
	</div>
	{{ end }}
</div>
{{ end }}
